<div class="lern">
  <mat-form-field>
    <mat-label>Country </mat-label>
    <mat-select name="country" [(ngModel)]="country">
      <mat-option>None</mat-option>
      @for (country of countries; track country) {
      <mat-option [value]="country">{{ country }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <p>
    <button (click)="getUniversities()" mat-raised-button type="button">
      Reload Universities
    </button>
  </p>
  <p [routerLink]="['/e-commerce']">
    Universities amount: {{ universities.length }}
  </p>
  <ol>
    <li *ngFor="let university of universities">
      <span>{{ university.name }} </span>
      <!--       <span>{{ university.country }} </span>
      <span>{{ university.country_code }} </span> -->
      <a target="_blank" [href]="university.web_pages[0]">Link on website</a>
      <!--       <a target="_blank" [href]="university.web_pages1[0]">Link on website1</a> -->
    </li>
  </ol>

  <table>
    <thead>
      <tr>
        <th>University Name</th>
        <th>Website link 1</th>
        <th>Website link 2</th>
        <th>Country</th>
        <th>Country Code</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let university of universities">
        <td>{{ university.name }}</td>
        <td>{{ university.web_pages[0] }}</td>
        <td>{{ university.domains[0] }}</td>
        <td>{{ university.country }}</td>
        <td>{{ university.alpha_two_code }}</td>
        <!--   <td>{{ university.web_pages1 }}</td> -->
      </tr>
    </tbody>
  </table>
</div>
