.lern {
  font-size: 25px;
  background-color: #000;
  color: #ffffff;
  padding: 20px;
  line-height: 35px;
}

p {
  font-size: 50px;
  color: white;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
  padding: 10px;
  margin-left: 35px;
  border-bottom: 3px solid#07f968;

  span {
    padding: 0 6px;
  }
}

li a {
  color: #07f968;
  margin-left: 40px;
}

a:hover {
  background-color: #66b586;
  cursor: pointer;
}

th,
td {
  padding: 10px;
}