<header>
  <div class="img-wrapper">
    <img src="logo.jpg" alt="" />
  </div>

  <ul>
    <li [routerLink]="['/products']">Products</li>
    <li
      class="inner-block"
      (mouseenter)="openBlock(0)"
      (mouseleave)="closeBlock(0)"
    >
      <span>Solutions</span>
      <app-header-hover-block *ngIf="blocksOpen[0]" [config]="blockall[0]">
      </app-header-hover-block>
    </li>
    <li [routerLink]="['/pricing']">Pricing</li>
    <li
      class="inner-block"
      (mouseenter)="openBlock(1)"
      (mouseleave)="closeBlock(1)"
    >
      <span> Resources</span>
      <app-header-hover-block *ngIf="blocksOpen[1]" [config]="blockall[1]">
      </app-header-hover-block>
    </li>
  </ul>

  <div class="btns-wrapper">
    <!-- <button class="grey-btn">
      <a href="https://fuelfinance.me/demo/?ref=land-book.com">Login</a>

    </button> -->

    <a class="grey-btn" href="https://fuelfinance.me/demo/?ref=land-book.com"
      >Login</a
    >
    <a class="green-btn" href="https://fuelfinance.me/demo/?ref=land-book.com"
      >Book a demo</a
    >

    <!-- <button class="green-btn">
      <p>
        <a href="https://fuelfinance.me/demo/?ref=land-book.com">Book a demo</a>
      </p>

    </button> -->
  </div>
</header>
<!--<app-header-hover-block> </app-header-hover-block>  -->
