<header>
  <div class="img-wrapper">
    <img src="logo.jpg" alt="">
  </div>


  <ul>
    <li>Products</li>
    <li>Solutions</li>
    <li>Pricing</li>
    <li>Resources</li>
  </ul>

  <div class="btns-wrapper">
    <!-- <button class="grey-btn">
      <a href="https://fuelfinance.me/demo/?ref=land-book.com">Login</a>

    </button> -->

    <a class="grey-btn" href="https://fuelfinance.me/demo/?ref=land-book.com">Login</a>
    <a class="green-btn" href="https://fuelfinance.me/demo/?ref=land-book.com">Book a demo</a>

    <!-- <button class="green-btn">
      <p>
        <a href="https://fuelfinance.me/demo/?ref=land-book.com">Book a demo</a>
      </p>

    </button> -->
  </div>


</header>