<div class="Integrations">
  <div class="Integrations-icons">
    <img src="under1.png" alt="" />
    <img src="under2.png" alt="" />
    <img src="under3.png" alt="" />
    <img *ngIf="allImages" src="under4.png" alt="" />
    <img *ngIf="allImages" src="under5.png" alt="" />
    <img *ngIf="allImages" src="under6.png" alt="" />
    <img *ngIf="allImages" src="under7.png" alt="" />
    <img *ngIf="allImages" src="under8.png" alt="" />
    <img *ngIf="allImages" src="under9.png" alt="" />
    <button class="pointer" (click)="allImages = !allImages">+7</button>
  </div>

  <div>
    <p>Integrations</p>
    <ul>
      <li>
        We also have a suite of connectors to integrate with your most
        often-used 3rd-party services, and we keep those connectors updated as
        the services evolve.
      </li>
    </ul>
  </div>
</div>
