<div class="wrapper">
  <form class="colum">
    <h6>Форма</h6>
    <label>Введіть Font-size: {{ fontSize }}</label>
    <input
      type="text"
      placeholder="Введіть Font-size"
      name="Font-size"
      [(ngModel)]="fontSize"
    />

    <label>Введіть Font-weight: {{ fontWeight }}</label>
    <input
      type="text"
      placeholder="Введіть Font-weight"
      name="Font-weight"
      [(ngModel)]="fontWeight"
    />

    <label>Введіть Font-style: {{ fontStyle }} </label>
    <input
      type="text"
      placeholder="Введіть Font-style"
      name="Font-style"
      [(ngModel)]="fontStyle"
    />
    <label>Введіть Font-color: {{ color }} </label>
    <input
      type="text"
      placeholder="Введіть Font-color"
      name="Font-color"
      [(ngModel)]="color"
    />
  </form>
  <div class="result">
    <div
      class="block"
      [style.fontSize]="fontSize"
      [style.fontWeight]="fontWeight"
      [style.fontStyle]="fontStyle"
      [style.color]="color"
    >
      <p>
        Свою Україну любіть. Любіть її… во врем'я люте, В остатню, тяжкую мінуту
        За неї Господа моліть.
      </p>
      <a [href]="linkHref">{{ linkText }}</a>
      <img [src]="imageSrc" alt="{{ imageSrc }}" />
    </div>
  </div>

  <form class="task">
    <h6>Додаткове завдання</h6>
    <label>Введіть Text : {{ linkText }}</label>
    <input
      type="text"
      placeholder="Введіть Text"
      name="Text"
      [(ngModel)]="linkText"
    />
    <label>Введіть Link Href : {{ linkHref }}</label>
    <input
      type="text"
      placeholder="Введіть Link Href"
      name="Text"
      [(ngModel)]="linkHref"
    />
    <label>Введіть Image Src : {{ imageSrc }}</label>
    <input
      type="text"
      placeholder="Введіть Image Src"
      name="Text"
      [(ngModel)]="imageSrc"
    />
  </form>
</div>
