<main>
  <h1>Pricing plans designed to fit your business needs</h1>

  <!--   <div class="elements">
    <div class="essential column">
      <p class="essential-title">Essential</p>
      <p class="essential-text">Great for small teams that are getting started with their business</p>
      <p class="button-get">
        <a href="https://fuelfinance.me/demo/?ref=land-book.com">Get a quote.</a>
      </p>
      <p></p>
      <ul>
        <li>Dedicated Financial Manager</li>
        <li>P&L, CF, BS reports</li>
        <li>Burn Rate</li>
        <li>Monthly CF plan/actual reports</li>
        <li>Automated dashboards</li>
        <li>Payroll</li>
        <li>Slack Chat with Financial Manager</li>
      </ul>
    </div>
    <div class="growth column">
      <p class="growth-title">Growth</p>
      <p class="growth">For growing teams that have raised some funding or gaining traction</p>
      <p class="button-get">
        <a href="https://fuelfinance.me/demo/?ref=land-book.com">Get a quote.</a>
      </p>
      <p class="growth">Everything in Essential, and:</p>
      <ul>
        <li>Monthly P&L plan/actuals</li>
        <li>Operational Metrics plan/actuals</li>
        <li>Financial Model</li>
        <li>Monthly Unit Economics plan/actuals</li>
        <li>Weekly Plan/Actuals</li>
        <li>Automated Dashboard</li>
        <li>Scenario planning</li>
        <li>Reports for investors</li>
      </ul>
    </div>
    <div class="custom column">
      <p class="custom-title">Custom</p>
      <p class="custom">You are a large business with complex structure or a startup turned rocketship</p>
      <p class="button-get">
        <a href="https://fuelfinance.me/demo/?ref=land-book.com">Get a quote.</a>
      </p>
      <p class="custom">Everything in Growth, and:</p>
      <ul>
        <li>Daily Reports</li>
        <li>KPI analysis and recommendations</li>
        <li>Automation across departments</li>
        <li>Advanced dashboards for every department</li>
        <li>Sensitivity Analysis</li>
        <li>Pricing Strategy</li>
        <li>Ad-hoc integrations</li>
        <li>Cap Table Management</li>
      </ul>
    </div>
  </div> -->
  <app-pricing-all></app-pricing-all>

  <app-boostrapplan [config]="boostrapplan"> </app-boostrapplan>
  <!--
  <div class="bootstrap">
    <div class="bootstrap-img">
      <img src="bootstrap.png" alt="" />
    </div>
    <div class="bootstrap-text">
      <div class="bootstrap-title">BOOTSTRAP PLAN</div>
      <div class="bootstrap-text1">
        <p>
          <span>P&L and planning for pre-seed stage startups.</span>
          <span>Get a clear picture of your finances.</span>
          Start for FREE
        </p>
      </div>
    </div>
    <div class="bootstrap-button">
      <a href="https://fuelfinance.me/bootstrap/?ref=land-book.com"
        >Get more information</a
      >
    </div>
  </div> -->
  <div class="simple-better">
    <div class="simple">
      <p>💫</p>
      <h3>Simple and transparent</h3>
      <p class="sometimes">
        Sometimes, you need ad-hoc help from someone who knows your business. A
        report prepared for your investors, an advice (or a reminder) regarding
        409a, a pointer to the right software for the job or the right person to
        talk to. We've seen a lot, and we're here to help. We charge a sane and
        transparent hourly fee for those ad-hoc services.
      </p>
    </div>
    <div class="better">
      <p>🌈</p>
      <h3>Better than inhouse team</h3>
      <p class="sometimes">
        With Fuel you save 50-90% compared with the cost of hiring a person or a
        group of people to keep your spreadsheets up to date. And you get all
        the insights and best practices from our team that has seen hundreds of
        businesses and managed P&L's in hundreds of millions USD. It's pretty
        much a no-brainer.
      </p>
    </div>
  </div>
  <div class="author">
    <p>
      FFuel provided us with financial support for the Series A round closing.
      They prepared financial models and metrics for communication with
      investors. We love our new ongoing process of projected-actual analysis of
      our financial statements and metrics. And we are proud to be a data-driven
      company with Fuel.
    </p>
    <div class="author-card">
      <img src="DariaShapovalova.jpeg" alt="" />
      <div class="author-text">
        <p>Daria Shapovalova</p>
        <p>Co-Founder DRESSX</p>
      </div>
    </div>
    <p>
      Fuel made a major contribution to increasing Petcube's profitability, and
      helping us to see the business with a sharper eye, and to a greater
      distance
    </p>
    <div class="author-card">
      <img src="Yaroslav.jpeg" alt="" />
      <div class="author-text">
        <p>Yaroslav Azhnyuk</p>
        <p>CEO & Co-Founder Petcube and Ozero Design</p>
      </div>
    </div>
  </div>
</main>
