$green:#07f968;
form{
    padding: 20px;
    font-size: 20px;
    background-color: #161616;
    border-radius:  24px;
    width: 50%;

}
form h2{
    margin-bottom: 20px;
}
 button{
   display: block;
    margin: 20px 0px;
    background-color: $green;
    padding: 15px 20px;
    border: none;
    border-radius: 22px;
    font-size: 22px;
    color: black;
}
button:hover{
    background-color: $green;
    box-shadow: 0 0 30px rgba(33, 248, 119, 0.6);

}

form .colum {
    display: flex;
    flex-direction: column;
    width: 50%;

}

form .row {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
form input{
    padding: 10px;
    font-size: 10px;
    background-color: black;
    border-radius: 6px;
    border: 1px solid #4b4f4d; ;
}

