<form>
  <h2>Book a demo</h2>

  <div class="row">
    <div class="colum">
      <label>First name</label>
      <input type="text" />
    </div>

    <div class="colum">
      <label>Work Email</label>
      <input type="text" />
    </div>
  </div>

  <button>Get started</button>

  <section class="input-types birthday">
    <div class="wrapper">
      <label>Enter your birthday:</label>
      <input name="orion" type="date" [(ngModel)]="birthday">

      <button (click)="calculateAge()">Calculate</button>

      <label>Your age is: </label>
      <label> {{age}}</label>
    </div>

  </section>

</form>