<div class="bg-color">
  <div class="messager">

    <img class="messager-image" src="messager.svg">

  </div>

  <section class="green-warning">
    <p>
      <a href="https://fuelfinance.me/bootstrap/?ref=land-book.com">Early-stage founder? Our new free product is live!
        Try it now.</a>
    </p>

  </section>
  <main class="container">

    <app-header></app-header>

    <section class="products">
      <h1>Products </h1>
      <p>
        Fuel combines the power of AI and a team of financial professionals to provide you with clean and precise
        spreadsheets
        and graphs. Our goal is to make sure you don't spend time organizing data, and instead, spend it on making the
        right
        decisions for your business.
      </p>
      <ul>
        <li><span> </span>Financial Statements</li>
        <li><span> </span>Dashboards</li>
        <li><span> </span>Monthly updates</li>
        <li><span> </span>Unit economics</li>
        <li><span> </span>Financial Planning</li>
        <li><span> </span>Plan/Actual analysis</li>
      </ul>

    </section>
    <app-statements></app-statements>
    <app-form></app-form>
    <app-footer></app-footer>
  </main>