<div class="block">
  <ul class="block__list">
    <li><span> </span>Saas</li>
    <li><span> </span>E-commerce</li>
    <li><span> </span>Profesional services</li>
    <li><span> </span>Construction</li>
    <li><span> </span>Other</li>
  </ul>
  <div class="block__right">
    <img src="solutions.jpg" alt="" />
    <p>How Petcube became profitable with Fuelfinance</p>
    <a href="https://fuelfinance.me/petcube-case-study/?ref=land-book.com"
      >READ CASE STUDY <i>☛</i></a
    >
  </div>
</div>
