<div class="bg-color">
  <main class="container">
    <section class="icon">
      <h3>We manage over $250 million for clients like these:</h3>
      <div class="logo">
        <div *ngFor="let item of images" class="logo_wrapper">
          <img src="{{ item }}" />
        </div>
      </div>
    </section>
    <div class="author">
      <p>
        “Fuelfinance has been able to reflect the flexibility of our operations
        as we grow in finance and tailor the reporting to our changing needs”
      </p>
      <div class="author-card">
        <img src="Jordan.jpeg" alt="" />
        <div class="author-text">
          <p>Jordan DiPietro</p>
          <p>CEO at Hampton</p>
        </div>
      </div>
    </div>
  </main>
</div>
