$green:#07f968;
.more-servise {
    ul{
        display: flex ;
        flex-wrap: wrap;
        li{
            display: block;
            width: 40%;
            height: 250px;
            background-color: #333;
            font-size: 30px;
            margin: 10px;
            padding: 20px 16px;
            border-radius: 24px;
            color: rgb(252, 248, 248);
        
        & :nth-child(2) span {
            background-color: rgb(100, 11, 242);   
         }
        }
    }
}

.more-servise ul 
.more-servise ul li
.more-servise ul li:nth-child(3) span {
    background-color: rgb(249, 162, 11);    
}
.more-servise ul li:nth-child(4) span {
    background-color: rgb(171, 30, 187);    
}
.more-servise ul li span{
    background-color: green;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}
.more-servise ul li:hover{
    background-color: #5f5b5b;
}
