<div class="bg-color">
  <div class="messager">

    <img class="messager-image" src="messager.svg">

  </div>

  <section class="green-warning">
    <p>
      <a href="https://fuelfinance.me/bootstrap/?ref=land-book.com">Early-stage founder? Our new free product is live!
        Try it now.</a>
    </p>

  </section>

  <main class="container">

    <app-header></app-header>

    <app-pricing></app-pricing>

    <app-form></app-form>


    <app-footer></app-footer>

  </main>
  <div class="table">

    <table>
      <thead>
        <tr>
          <th></th>
          <th class="red round-first">Universal Bank
            monobank</th>
          <th>Банк 1</th>
          <th>Банк 2</th>
        </tr>

      </thead>
      <tbody>
        <tr>
          <th>Universal Bank
            monobank</th>
          <td class="red"> До 62 днів</td>
          <td> До 55 днів</td>
          <td> До 62 днів</td>
        </tr>
        <tr>
          <th>Universal Bank
            monobank</th>
          <td class="red"> До 62 днів</td>
          <td> До 55 днів</td>
          <td> До 62 днів</td>
        </tr>
        <tr>
          <th>Universal Bank
            monobank</th>
          <td class="red"> До 62 днів</td>
          <td> До 55 днів</td>
          <td> До 62 днів</td>
        </tr>
        <tr>
          <th>Universal Bank
            monobank</th>
          <td class="red"> До 62 днів</td>
          <td> До 55 днів</td>
          <td> До 62 днів</td>
        </tr>
        <tr>
          <th>Universal Bank
            monobank</th>
          <td class="red round-last"> До 62 днів</td>
          <td> До 55 днів</td>
          <td> До 62 днів</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
<section class="input-types">
  <div class="wrapper">
    <label>input type=text</label>
    <input type="text">

    <label>input type=number</label>
    <input type="number">

    <label>Textarea</label>
    <textarea rows="10"></textarea>
  </div>




</section>