.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;


  form {
    background-color: #494040;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;



    label {
      display: block;
      margin-top: 40px;
    }

    input {
      margin-top: 15px;
      background-color: #ede7e7;
      font-size: 1.2em;
      border-radius: 20px;
      padding: 15px;
    }
  }

  .result {
    background-color: #4b28bc;
    width: 500px;
    min-height: 450px;
    border-radius: 20px;
    font-size: 35px;
    color: #fff;
    padding: 20px;


    .block {
      min-width: 300px;
      min-height: 150px;
      border-radius: 20px;
      font-size: 30px;

      .child-block {
        width: 150px;
        min-height: 150px;
        border-radius: 50%;
        background-color: burlywood;

        position: relative;

        .R {
          position: absolute;
          top: 60%;
          color: #222;
        }

        .h6 {
          font-size: 25px;
          font-weight: bold;

        }

      }

    }

  }
}

h6 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  line-height: 1.4em;
}

p {
  line-height: 1.4em;
  font-style: italic;
}