<div class="Security">
  <div class="block__right">
    <div class="icons">
      <div *ngFor="let item of config.images; let index = index">
        <img
          *ngIf="allImages || index < 4 || config.images.length < 4"
          [src]="item"
          alt=""
        />
      </div>
      <button
        class="pointer"
        *ngIf="config.images.length > 4"
        (click)="allImages = !allImages"
      >
        +7
      </button>
    </div>
    <div>
      <h4>{{ config.header }}</h4>
      <p>{{ config.text }}</p>
    </div>
  </div>
</div>
