<div class="login-container">
  <div class="login-box">
    <img
      [routerLink]="['/e-commerce']"
      src="/logo.jpg"
      alt="Univa Logo"
      class="logo"
    />
    <h2>Enter your email to reset password</h2>
    <form action="#" method="POST">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter your email to reset"
        required
      />

      <button type="submit" class="submit-btn">Submit</button>

      <a (click)="openUnivaage()">Back to sign-in</a>
    </form>
  </div>
</div>
