<!-- <section class="financial statements">
  <div>
    <p>Three basic financial statements</p>
    <ul>
      <li>Profit and Loss (also known as P&L)</li>
      <li>Cash Flow</li>
      <li>Balance Sheet</li>
    </ul>
  </div>
  <div class="img-wrapper">
    <img src="image1.svg" alt="" />
  </div>
</section>

<section class="monthly process">
  <div class="img-wrapper">
    <img src="image2.svg" alt="" />
  </div>

  <div>
    <p>A monthly process to update the statements</p>

    <ul>
      <li>Integrate with existing reports and departments</li>
      <li>We suggest new flows and metrics where needed</li>
      <li>
        Your regular management process now feeds information into financial
        reports and forecasts
      </li>
    </ul>
  </div>
</section>

<section class="Financial projections">
  <div>
    <p>Financial projections/planning</p>
    <ul>
      <li>
        Based on your historical data and future plans, we build two versions of
        forecast which show the band of future possibilities
      </li>
      <li>We update this forecast monthly/weekly</li>
    </ul>
  </div>

  <div class="img-wrapper">
    <img src="image3.svg" alt="" />
  </div>
</section>

<section class="Plans">
  <div class="img-wrapper">
    <img src="image4.svg" alt="" />
  </div>
  <div>
    <p>Plan/Actual analysis</p>
    <ul>
      <li>
        One of the most helpful processes and when conducted on monthly basis,
        allows to achieve high-precision forecasting
      </li>
    </ul>
  </div>
</section>

<section class="Unit economics">
  <div>
    <p>Unit economics</p>
    <ul>
      <li>
        Shows how your lifetime value (LTV) compares with your customer
        acquisition cost (CAC)
      </li>
      <li>
        Allows for correct sales and marketing planning on daily- or
        per-campaign- basis
      </li>
      <li>
        Creates a framework to highlight non-obvious expenses that scale with
        user base growth
      </li>
    </ul>
  </div>

  <div class="img-wrapper">
    <img src="image5.svg" alt="" />
  </div>
</section>
<section class="Dashboards">
  <div class="img-wrapper">
    <img src="image6.svg" alt="" />
  </div>
  <div>
    <p>Dashboards</p>
    <ul>
      <li>
        Depending on your business model, we use best practices and recommend
        which KPIs you should be focused on
      </li>
      <li>Fully customizable and tailored for you by your dedicated manager</li>
    </ul>
  </div>
</section> -->
<app-financial-block *ngFor="let item of financialblockall" [config]="item">
</app-financial-block>

<section class="under">
  <p class="under1">Under the hood</p>

  <section class="icons">
    <app-icons-security [config]="blockall[0]"></app-icons-security>
    <app-icons-security [config]="blockall[1]"></app-icons-security>
    <app-icons-security [config]="blockall[2]"></app-icons-security>
  </section>
</section>
<p>
  We can spend a lot of time on this, but who cares? What matters most for our
  clients is that their finance is in order. Buckle up for the ride 🚀
</p>
