@import '../public/styles/buttons.scss';

/* You c

an add global styles to this file, and also import other style files */
body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}