<!-- <div class="login-container">
  <div class="login-box">
    <img src="/logo.jpg" alt="Univa Logo" class="logo" />
    <h2>Sign In</h2>
    <form action="#" method="POST">
      <label for="text">Book a 30-min call </label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Enter your email here"
        required
      />
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter your email here"
        required
      />

      <button type="submit" class="submit-btn">Submit</button>
    </form>
  </div>
</div>
 -->
<div class="call">
  <div class="call-content">
    <h3>Book a 30-min call</h3>
    <form action="#">
      <input type="text" placeholder="First name*" required />
      <input type="email" placeholder="Work Email*" required />
      <button type="submit">GET A DEMO</button>
    </form>
  </div>
</div>
